@import "flexbox";

div#navigation {
  .flex-display();

  > button {
    .flex-display();
    .flex-basis(150px);
    .justify-content(center);
    height: 40px;
    margin: @global-margin;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.2em;
    font-family: monospace;

    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }
}