@import "flexbox";
@import "globals";

div#sidebar {
  .flex-display();
  .flex-basis(150px);
  background-color: aqua;
  overflow: auto;

  .sidebar-item {
    text-decoration: none;
    color: inherit;
  }

  a {
    padding: @global-padding;
  }

  .selected {
    background-color: lawngreen;
  }
}