{{#if: !!IsSidebarVisible() && !!hasItems}}
<div id="sidebar" class="column"
     data-bind="module: { name: 'components/Sidebar', data: { items: sidebarItems } }"></div>
{{/if}}

{{#if: !!hasItems}}
<div class="column grow">
    <div id="fragebogen" class="content inner-content column" foreach="{{questionList}}">
        <!-- Question -->
        <div class="question" data-bind="text: sortOrder + '. ' + text, attr: { 'id': 'f' + sortOrder }"></div>
        <div class="column answer">
            <!-- Answers -->
            {{#foreach: answerList}}
            <div class="row">
                <input class="clickable" type="radio" name="sortOrder" data-bind="checked: isChecked"/>
                <span data-bind="text: text"></span>
            </div>
            {{/foreach}}
        </div>
    </div>
    <div class="auswertung">
        <button class="button-auswerten"
                click="{{function() { evaluate($parent.currentComponent) } }}"
                title="Click mich und ich werte deine Antworten aus!">
            Auswerten!
        </button>
    </div>
</div>
{{/if}}

{{#if: !hasItems}}
<div class="content centered">No questions available</div>
{{/if}}