{{#if: !!IsSidebarVisible() && !!hasItems}}
<div id="sidebar" class="column"
     data-bind="module: { name: 'components/Sidebar', data: { items: sidebarItems } }"></div>
{{/if}}

{{#if: !!hasItems}}
<div class="column grow">
    <div id="fragebogen" class="content inner-content column">
        <!-- Question -->
        {{#foreach: items}}
        <div class="question-container">
            <div class="question" data-bind="text: sortOrder + '. ' + text, attr: { 'id': 'f' + id }"></div>
            <div class="row answer">
                <div class="column">
                    <!-- Answers -->
                    {{#foreach: answerList}}
                    <div class="row">
                        <input class="clickable"
                               type="radio"
                               name="{{'frage#' + $parent.id}}"
                               value="{{id}}"
                               disabled="{{$parent.id != $parents[1].lastQuestion().id}}"
                               checked="{{$parent.selectedAnswer}}"/>
                        <span data-bind="text: text"></span>
                    </div>
                    {{/foreach}}
                </div>
            </div>
        </div>
        {{/foreach}}
    </div>
    <div class="auswertung">
        <button class="button-auswerten"
                click="{{function() { evaluate($parent) } }}"
                title="Click mich und ich werte deine Antworten aus!">
            Auswerten!
        </button>
        {{#if: showNextButton()}}
        <button class="button-auswerten"
                click="{{function() { next($parent) } }}"
                title="Nächste Frage, bitte!">
            Nächste Frage
        </button>
        {{/if}}
        {{#if: !showNextButton() && isLastQuestion()}}
        <span>Du hast alle Fragen beantwortet!</span>
        {{/if}}
    </div>
</div>
</div>
{{/if}}

{{#if: !hasItems}}
<div class="content centered">No questions available</div>
{{/if}}