<div id="impressum" class="inner-content">
    <h2>Impressum</h2>
    <div class="paragraph">
        <div>
            Alle hier verwendeten Medien sind lizenzfrei oder unterliegen der HAW Hamburg.
        </div>
    </div>
    <div class="paragraph">
        <h4>HAW Hamburg</h4>
        <div>Hochschule für Angewandte Wissenschaften Hamburg (HAW Hamburg)</div>
        <div>Berliner Tor 5</div>
        <div>20099 Hamburg</div>
        <div>Deutschland</div>

        <div>Tel. +49.40.428 75- 0</div>
        <div>Fax +49.40.428 75 91 49</div>
        <div>info(@)haw-hamburg.de</div>
    </div>

    <div class="paragraph">
        <h4>Software Engineering 2 Projekt</h4>
        <div>Kürzel: SE2/SE2P</div>
        <div>Modulverantwortlicher: Prof. Dr. Stefan Sarstedt</div>
        <div>
            Dozenten: Prof. Dr. Stefan Sarstedt, Prof. Dr. Bernd Kahlbrandt, Prof. Dr. Olaf Zukunft,
            Prof. Dr. Thiel-Clemen, Prof. Dr. Thomas Lehmann
        </div>
        <div>Lernziele und Kompetenzen:</div>
        <div>Die Studierenden:</div>
        <ul>
            <li>können wichtige Begriffe im Kontext von Softwareprojekten darstellen</li>
            <li>können unterschiedliche Vorgehens- und Prozessmodelle und deren Einsatzbereiche erläutern</li>
            <li>können ausgewählte Vorgehens- und Prozessmodelle anwenden</li>
            <li>können typische Aufgaben eines Projektleiters benennen</li>
            <li>können typische Tätigkeiten in verschiedenen Projektphasen (u.a. Planung und Kontrolle)
                beschreiben
            </li>
            <li>können Aspekte des Qualitäts-, Risiko- und Konfigurationsmanagement darstellen</li>
            <li>können ausgewählte Qualitätssicherungsmaßnahmen anwenden und Softwarequalität bewerten</li>
            <li>können Software-Ergonomie als Bestandteil des Entwicklungsprojektes berücksichtigen</li>
        </ul>
        <div>Inhalte</div>
        <ul>
            <li>Begriffe im Kontext eines Softwareprojekts: Projekt, Projektphase, u.a.</li>
            <li>Vorgehens- und Prozessmodelle in der Software-Entwicklung</li>
            <li>Kostenschätzung</li>
            <li>Projektplanung</li>
            <li>Projektcontrolling</li>
            <li>Risikomanagement</li>
            <li>Qualitätssicherung</li>
            <li>Konfigurationsmanagement</li>
            <li>Software-Ergonomie</li>
        </ul>
    </div>
</div>