{{#if: !!IsSidebarVisible()}}
<div id="sidebar" class="column"
     data-bind="module: { name: 'components/Sidebar', data: { items: sidebarItems } }"></div>
{{/if}}

<div class="inner-content">
    <div id="contact-project">
        <h2>Über das Projekt</h2>
        <div>
            <p>
                Im Rahmen unseres Projekts stellen wir unsere Web Application 'SE2 Tierheimprojekt' vor, welche
                wir im Rahmen des Software Engineering Praktikums auf die Beine gestellt haben!
            </p>
            <p>
                Das Projekt erstreckt sich über ein Semester und implementiert eine dynamische Suche von
                geeigneten Tieren aus einem Tierheimbestand, anhand gestellter Fragen und deren Antworten.
            </p>
            <p>
                Bei diesem Projekt gibt es festgelegte Aufgaben und Rollen. Im Weiteren stellen wir uns und unsere
                Projektaufgaben vor:
            </p>
        </div>
    </div>

    <div id="contact-team">
        <h2>Über uns</h2>
        <div>
            <table>
                <tr>
                    <td>
                        <h4>Adrian Bostelmann</h4>
                        <p></p>
                        <p> Architekt</p>
                        <p>Software-Architektur, Technologien</p>
                        <p></p>
                        <p> Kontakt: Adrian.Bostelmann@haw-hamburg.de</p>
                    </td>
                    <td>
                        <h4>Felix Koch</h4>
                        <p></p>
                        <p> Qualitätssicherung und Testen</p>
                        <p></p>
                        <p>Kontakt: Felix.Koch@haw-hamburg.de</p>
                    </td>
                    <td>
                        <h4>Gehui Xu</h4>
                        <p></p>
                        <p>Designer</p>
                        <p></p>
                        <p>Kontakt: Gehui.xu@haw-hamburg.de</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Gerriet Hinrichs </h4>
                        <p></p>
                        <p>Projektleiter</p>
                        <p>Organisation, Boards, Aufgaben & Sprints</p>
                        <p>Kontakt: Gerriet.Hinrichs@haw-hamburg.de</p>
                    </td>
                    <td>
                        <h4>Karsten Böhringer</h4>
                        <p></p>
                        <p>Product Owner</p>
                        <p>Kundenkontakt, Kundenwünsche, Priorisieren von Anforderungen</p>
                        <p></p>
                        <p>Kontakt: Karsten.Boehringer@haw-hamburg.de</p>
                    </td>
                    <td>
                        <h4>Kristian Exss</h4>
                        <p></p>
                        <p>Qualitätssicherung und Testen</p>
                        <p></p>
                        <p>Kontakt: Kristian.Exss@haw-hamburg.de</p>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>