{{#if: !!IsSidebarVisible()}}
<div id="sidebar" class="column"
     data-bind="module: { name: 'components/Sidebar', data: { items: sidebarItems } }"></div>
{{/if}}

<div class="inner-content">
    <div id="contact-project">
        <h2>Über das Projekt</h2>
        <div>
            <p>
                Im Rahmen des Software Engineering II für den Studiengang "Angewandte Informatik"
                hat unsere Gruppe eine WebApp entwickelt, womit man ein geeignetes Tier für sich finden kann.
            </p>
            <p>
                Der Interessent spart sich damit die Zeit durch verschiedene Listen von Tieren zu arbeiten
                bevor sie das passende Tier für sich finden, diese WebApp ist auch besonders für Benutzer geeignet,
                die erstmals ein Tier haben wollen.
            </p>
        </div>
    </div>

    <div id="contact-team">
        <h2>Über uns</h2>
        <div>
            <table>
                <tr>
                    <td>
                        <h4>Adrian</h4> 
                        <h4>Bostelmann</h4>
                        <p> Architekt</p>
                        <p></p>
                        <p>Kontakt:</p>
                        <p>Adrian.Bostelmann@haw-hamburg.de</p>
                    </td>
                    <td>
                        <h4>Felix</h4> 
                        <h4>Koch</h4>
                        <p>Qualitätssicherung</p>
                        <p></p>
                        <p>Kontakt:</p>
                        <p>Felix.Koch@haw-hamburg.de</p>
                    </td>
                    <td>
                        <h4>Kristian</h4> 
                        <h4>Exss</h4>
                        <p>Qualitätssicherung</p>
                        <p></p>
                        <p>Kontakt:</p>
                        <p>Kristian.Exss@haw-hamburg.de</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Gerriet</h4> 
                        <h4>Hinrichs </h4>
                        <p></p>
                        <p>Projektleiter</p>
                        <p></p>
                        <p>Kontakt:</p>
                        <p>Gerriet.Hinrichs@haw-hamburg.de</p>
                    </td>
                    <td>
                        <h4>Gehui</h4> 
                        <h4>Xu</h4>
                        <p>Designer</p>
                        <p></p>
                        <p>Kontakt:</p>
                        <p>Gehui.xu@haw-hamburg.de</p>
                    </td>
                    <td>
                        <h4>Karsten</h4> 
                        <h4>Böhringer</h4>
                        <p>Product Owner</p>
                        <p></p>
                        <p>Kontakt:</p>
                        <p>Karsten.Boehringer@haw-hamburg.de</p>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>