<div id="start" class="column">
    <h2>Willkommen!</h2>
    <div>
        Wir sind ein Praktikumsteam des Kurses 'Software Engineering II' der HAW Hamburg.
    </div>
    <div>
        Da viele Menschen bei der Findung eines neuen Familienmitglieds, also bei der
        Haustiersuche, auf Mittel eines Tierheims zurückgreifen, haben wir uns entschlossen,
        eine Anwendung zu erstellen, die das Finden des richtigen Begleiters vereinfachen
        soll.
        Hierbei wird mit verschiedensten Daten aus dem Bestand eines Tierheims herausgefunden,
        welches Tier am besten zu dir passt!
    </div>
    <div>
        Unter dem Reiter 'Fragen' gelangst du zu unserem Fragebogen, der dich durch eine Reihe
        von Fragen leitet, die zu Ermittlung des neuen Familienmitglieds nötig sind.
        Anschließen können wir dir die Auswertung mitteilen und dir sogar diverse Tiere
        vorstellen!
    </div>
    <div>
        Im 'Impressum' findest du Informationen über Die HAW Hamburg und das Projekt
        'Software Engineering II', in dem wir die Möglichkeit bekommen dieses Projekt auf
        die Beine zu stellen.
    </div>
    <div>
        Wissenswertes über unser Team und wie du uns erreichen kannst findest du im Reiter
        'Kontakt'.
    </div>
    <div>
        Wenn du nun neugierig geworden bist und auch wissen möchtest, welches Tier zu dir
        passt, probier es doch gleich mal aus :)
    </div>
    <div>
        Viel Spaß!
    </div>
</div>