{{#if: !!IsSidebarVisible()}}
<div id="sidebar" class="column"
     data-bind="module: { name: 'components/sidebar', data: { items: sidebarItems } }"></div>
{{/if}}
<div id="start" class="column">
    <div>START</div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
</div>