<div id="start" class="column">
    <div>START</div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
    <div data-bind="module: 'components/loremIpsum'"></div>
</div>